
<h2>Películas en cartelera</h2>
<hr>
<div class="row">
    <div class="div-pick-1">
        <img class="" src="https://image.tmdb.org/t/p/w400/9ywA15OAiwjSTvg3cBs9B7kOCBF.jpg" alt="Card image">
        <p class="pic-titulo">Fifty Shades Freed</p>
    </div>
    <div class="div-pick-2">
        <img class="" src="https://image.tmdb.org/t/p/w200/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg" alt="Card image">
        <p class="pic-titulo">Avengers: Infinity War</p>
    </div>
    <div class="div-pick-2">
        <img class="" src="https://image.tmdb.org/t/p/w200/AlFqBwJnokrp9zWTXOUv7uhkaeq.jpg" alt="Card image">
        <p class="pic-titulo">Black Panther</p>
    </div>
    <div class="div-pick-2">
        <img class="" src="https://image.tmdb.org/t/p/w200/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg" alt="Card image">
        <p class="pic-titulo">Last updated 3 mins ago</p>
    </div>
    <div class="div-pick-2">
        <img class="" src="https://image.tmdb.org/t/p/w200/AlFqBwJnokrp9zWTXOUv7uhkaeq.jpg" alt="Card image">
        <p class="pic-titulo">Last updated 3 mins ago</p>
    </div>    

    <div class="div-pick-1">
        <img class="" src="https://image.tmdb.org/t/p/w400/AlFqBwJnokrp9zWTXOUv7uhkaeq.jpg" alt="Card image">
        <p class="pic-titulo">Last updated 3 mins ago</p>
    </div>
</div>

<div class="row">
  <h2>Populares</h2>

</div>

<div class="row">
  <h2>Populares infantiles</h2>

</div>
