<h4>Formularios <small>template</small></h4>
<hr>
<form class="was-validated" (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>

  <div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="3"
               required
               #nombre="ngModel" />
        <span class="invalid-feedback" *ngIf="nombre.errors?.required">El campo es requerido</span>
        <span class="invalid-feedback" *ngIf="nombre.errors?.minlength">Por lo menos {{nombre.errors.minlength.requiredLength}} caracteres</span>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Apellido</label>
      <div class="col-sm-8">

        <input class="form-control"
               type="text"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               placeholder="Apellido"
               required
               #apellido="ngModel">
        <span class="invalid-feedback" *ngIf="apellido.errors?.required">El campo es requerido</span>        
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Correo</label>
    <div class="col-sm-8">
      <input class="form-control"
             type="email"
             name="email"
             [(ngModel)]="usuario.email"
             placeholder="Correo electrónico"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel">
      <span class="invalid-feedback" *ngIf="email.errors?.required">El campo es requerido</span>
      <span class="invalid-feedback" *ngIf="email.errors?.pattern">El correo no tiene el formato correcto</span>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">País</label>
    <div class="col-sm-8">
      <select name="pais" [(ngModel)]="usuario.pais" class="form-control" required>
        <option *ngFor="let pais of paises" [value]="pais.codigo">{{ pais.pais }}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Género</label>
      <div class="col-sm-8">
        <div class="custom-control custom-radio custom-control-inline">
          <input 
              type="radio" 
              name="genero"
              class="custom-control-input" 
              value="M"
              [(ngModel)]="usuario.genero"
              required>
          <label class="custom-control-label">Masculino</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input 
              type="radio" 
              name="genero" 
              value="F"
              [(ngModel)]="usuario.genero"
              class="custom-control-input" 
              required>
          <label class="custom-control-label">Femenino</label>
        </div>
    </div>
  </div>

  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Género</label>
      <div class="col-sm-8">
        <div *ngFor="let g of generos" class="custom-control custom-radio custom-control-inline">
          <input 
              type="radio" 
              name="genero"
              [value]="g.codigo"
              class="custom-control-input" 
              [(ngModel)]="usuario.genero"
              required>
          <label class="custom-control-label">{{g.genero}}</label>
        </div>
    </div>
  </div>

  <div class="form-group row">
      <div class="col-sm-8">
        <div class="custom-control custom-checkbox">
          <input 
              name="aceptar"
              type="checkbox" 
              class="custom-control-input"
              [(ngModel)]="usuario.aceptar"
              required>
          <label class="custom-control-label">Aceptar condiciones</label>
        </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">&nbsp;</label>
    <div class="input-group col-sm-8">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{usuario | json}}
</pre>
