<div [ngClass]="alerta" class="alert alert-success">
    <strong>Well done!</strong> You successfully read this important alert message.
</div>

<button type="button" class="btn btn-info" (click)="alerta='alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alerta='alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">Hola mundo</h3>

<button type="button" class="btn"
    [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}"
    (click)="propiedades.danger=!propiedades.danger">
    Cambiar
</button>

<br><br>

<h3>Proceso asincrono</h3>

<button 
    class="btn btn-primary"
    type="button" 
    name="button"
    (click)="ejecutar()"
    [disabled]="loading">
    <i class="fa" [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }"></i> 
    <span *ngIf="!loading">Guardar cambios</span>
    <span *ngIf="loading">Espere!...</span>
</button>