<div class="container top30">
  <div class="row mb20">
    <div class="col-sm-3">
      <img class="img-thumbnail img-circular" [src]="artist.images | sinfoto: 2" >
    </div>
    <div class="col-sm-9 text-center">
        <h1>{{artist.name}}</h1>
        <hr>
        <a class="btn btn-outline-danger" [routerLink]="['/search']">Regresar</a>
        <a class="btn btn-outline-info" target="_blank" [href]="artist.external_urls?.spotify">Ver en Spotify</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col">Popularidad</th>
                <th scope="col">Escuchar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let track of tracks; let index = index;">
                <td>{{ index + 1 }}</td>
                <td><img class="img-thumbnail img-fluid" [src]="track.album.images | sinfoto: 2"></td>
                <td>{{ track.name }}</td>
                <td>{{ track.popularity }} %</td>
                <td class="text-center">
                  <iframe *ngIf="track.preview_url"
                    [src]="track.uri | domseguro: 'https://open.spotify.com/embed?uri='" 
                    width="300" 
                    height="80" 
                    frameborder="0" 
                    allowtransparency="true" 
                    allow="encrypted-media">
                  </iframe>

                  <p *ngIf="!track.preview_url">Preview no disponible</p>
                </td>
              </tr>
            </tbody>
          </table>
    </div>  
  </div>
</div>
