<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar w/ text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/precios']">Precios</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuthenticate()">
        <a class="nav-link" [routerLink]="['/protegida']">Protegida</a>
      </li>
    </ul>

    <span class="navbar-text">
      <button *ngIf="!isAuthenticate()"
          type="button" 
          class="btn btn-outline-primary btn-sm"
          (click)="login()">
          Ingresar
      </button>
      <button *ngIf="isAuthenticate()"
          type="button" 
          class="btn btn-outline-primary btn-sm"
          (click)="logout()">
          Salir
      </button>
    </span>

  </div>
</nav>